.red{
    color: white;
    background-color: red;
}
.green-color{
    color: white;
    background-color: green;
}
.blue{
    color: white;
    background-color: blue;
}
.veg{
    color: green;
   
}
.nonveg{
    color: red;
   
}
.card{
    margin-top: 40px;
    background-color: aquamarine;
}